<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Order">
        <id column="id" property="id" />
        <result column="sso_id" property="ssoId" />
        <result column="order_sn" property="orderSn" />
        <result column="leaveword" property="leaveword" />
        <result column="state" property="state" />
        <result column="pay_money" property="payMoney" />
        <result column="pay_channel" property="payChannel" />
        <result column="pay_time" property="payTime" />
        <result column="order_from" property="orderFrom" />
        <result column="finished_time" property="finishedTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sso_id, order_sn, leaveword, state, pay_money, pay_channel, pay_time, order_from, finished_time, create_time, update_time
    </sql>

</mapper>
