@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="编号" value="${item.id}" underline="true"/>
                            <#input id="ssoId" name="登录账号" value="${item.ssoId}" underline="true"/>
                            <#input id="orderSn" name="订单号" value="${item.orderSn}" underline="true"/>
                            <#input id="leaveword" name="留言" value="${item.leaveword}" underline="true"/>
                            <#input id="state" name="状态" value="${item.state}" underline="true"/>
                            <#input id="payMoney" name="实付金额" value="${item.payMoney}" />
                </div>

                <div class="col-sm-6">
                            <#input id="payChannel" name="支付方式" value="${item.payChannel}" underline="true"/>
                            <#input id="payTime" name="支付时间" value="${item.payTime}" underline="true"/>
                            <#input id="orderFrom" name="订单来源" value="${item.orderFrom}" underline="true"/>
                            <#input id="finishedTime" name="交易完成时间" value="${item.finishedTime}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/order/order/order_info.js"></script>
@}
