@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12">
                    <input id="id" value="${item.id}" type="hidden"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">协议类型<span style="color:red ; font-size: 20px; vertical-align: middle">*</span></label>
                        <div class="col-sm-9">
                            <select id="type">
                                <option value="">-------请选择-------</option>
                                <option value="0"
                                    @if(item.type=="0"){
                                      selected="selected"
                                    @}
                                >《用户协议》</option>
                                <option value="1"
                                        @if(item.type=="1"){
                                        selected="selected"
                                        @}
                                >《隐私政策》</option>
                                <option value="2"
                                        @if(item.type=="2"){
                                        selected="selected"
                                        @}
                                >《提现规则》</option>
                                <option value="3"
                                        @if(item.type=="3"){
                                        selected="selected"
                                        @}
                                >《邀请好友协议》</option>
                                <option value="4"
                                        @if(item.type=="4"){
                                        selected="selected"
                                        @}
                                >《奖励规则》</option>
                                <option value="5"
                                        @if(item.type=="5"){
                                        selected="selected"
                                        @}
                                >《排行榜规则》</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">内容</label>
                        <div class="col-sm-9">
                            <div id="content" class="editorHeight" ></div>
                            <div style="display: none;">${item.content}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AgreementInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AgreementInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor-fullscreen-plugin.js"></script>
<link href="${ctxPath}/static/js/plugins/wangEditor/wangEditor-fullscreen-plugin.css" rel="stylesheet">
<script src="${ctxPath}/static/modular/agreement/agreement/agreement_info.js"></script>
<script>
    $(function() {
        var userEdit = window.wangEditor;
        var heyifanEditor = new userEdit('#content');
        heyifanEditor.customConfig.uploadImgServer = '/muchPhoto/wangUpload'  ; // 上传图片到服务器
        heyifanEditor.customConfig.uploadImgTimeout = 300000;
        heyifanEditor.customConfig.uploadImgHooks = {
            before: function (xhr, editor, files) {
            },
            success: function (xhr, editor, result) {
            },
            fail: function (xhr, editor, result) {
                alert("上传图片失败!")
            },
            error: function (xhr, editor) {
            },
            timeout: function (xhr, editor) {
            },
            customInsert: function (insertImg, result, editor) {
                var url = result.url
                insertImg(url)
            }
        };
        heyifanEditor.create();
        userEdit.fullscreen.init('#content');
        //var s = escape2Html($('#content').next().html());
        heyifanEditor.txt.html($('#content').next().html());
        AgreementInfoDlg.heyifanEdit = heyifanEditor;
    });
</script>
@}
